web/WEB-INF/wsdl/localhost_8080/ShopOnlineServices/Product.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://product/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://product/" name="Product">
<types>
<xsd:schema>
<xsd:import namespace="http://product/" schemaLocation="http://localhost:8080/ShopOnlineServices/Product?xsd=1"/>
</xsd:schema>
</types>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="bestSeller">
<part name="parameters" element="tns:bestSeller"/>
</message>
<message name="bestSellerResponse">
<part name="parameters" element="tns:bestSellerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="filterbrand">
<part name="parameters" element="tns:filterbrand"/>
</message>
<message name="filterbrandResponse">
<part name="parameters" element="tns:filterbrandResponse"/>
</message>
<message name="productDetail">
<part name="parameters" element="tns:productDetail"/>
</message>
<message name="productDetailResponse">
<part name="parameters" element="tns:productDetailResponse"/>
</message>
<message name="filterprice">
<part name="parameters" element="tns:filterprice"/>
</message>
<message name="filterpriceResponse">
<part name="parameters" element="tns:filterpriceResponse"/>
</message>
<message name="products">
<part name="parameters" element="tns:products"/>
</message>
<message name="productsResponse">
<part name="parameters" element="tns:productsResponse"/>
</message>
<portType name="ProductService">
<operation name="search">
<input wsam:Action="http://product/ProductService/searchRequest" message="tns:search"/>
<output wsam:Action="http://product/ProductService/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="bestSeller">
<input wsam:Action="http://product/ProductService/bestSellerRequest" message="tns:bestSeller"/>
<output wsam:Action="http://product/ProductService/bestSellerResponse" message="tns:bestSellerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://product/ProductService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://product/ProductService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="filterbrand">
<input wsam:Action="http://product/ProductService/filterbrandRequest" message="tns:filterbrand"/>
<output wsam:Action="http://product/ProductService/filterbrandResponse" message="tns:filterbrandResponse"/>
</operation>
<operation name="productDetail">
<input wsam:Action="http://product/ProductService/productDetailRequest" message="tns:productDetail"/>
<output wsam:Action="http://product/ProductService/productDetailResponse" message="tns:productDetailResponse"/>
</operation>
<operation name="filterprice">
<input wsam:Action="http://product/ProductService/filterpriceRequest" message="tns:filterprice"/>
<output wsam:Action="http://product/ProductService/filterpriceResponse" message="tns:filterpriceResponse"/>
</operation>
<operation name="products">
<input wsam:Action="http://product/ProductService/productsRequest" message="tns:products"/>
<output wsam:Action="http://product/ProductService/productsResponse" message="tns:productsResponse"/>
</operation>
</portType>
<binding name="ProductServicePortBinding" type="tns:ProductService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bestSeller">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="filterbrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="filterprice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="products">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Product">
<port name="ProductServicePort" binding="tns:ProductServicePortBinding">
<soap:address location="http://localhost:8080/ShopOnlineServices/Product"/>
</port>
</service>
</definitions>