web/WEB-INF/wsdl/localhost_8080/ShopOnlineServices/Product.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://product/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://product/">

<xs:element name="filterbrand" type="tns:filterbrand"/>

<xs:element name="filterbrandResponse" type="tns:filterbrandResponse"/>

<xs:element name="filterprice" type="tns:filterprice"/>

<xs:element name="filterpriceResponse" type="tns:filterpriceResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="products" type="tns:products"/>

<xs:element name="productsResponse" type="tns:productsResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="products">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="productsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterprice">
<xs:sequence>
<xs:element name="first_price" type="xs:string" minOccurs="0"/>
<xs:element name="last_price" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterpriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterbrand">
<xs:sequence>
<xs:element name="idbrand" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterbrandResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>