src/conf/xml-resources/web-service-references/Product/wsdl/localhost_8080/ShopOnlineService/Product.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://product/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://product/" name="Product">
<types>
<xsd:schema>
<xsd:import namespace="http://product/" schemaLocation="http://localhost:8080/ShopOnlineService/Product?xsd=1"/>
</xsd:schema>
</types>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="productDetail">
<part name="parameters" element="tns:productDetail"/>
</message>
<message name="productDetailResponse">
<part name="parameters" element="tns:productDetailResponse"/>
</message>
<message name="filterbrand">
<part name="parameters" element="tns:filterbrand"/>
</message>
<message name="filterbrandResponse">
<part name="parameters" element="tns:filterbrandResponse"/>
</message>
<message name="bestSeller">
<part name="parameters" element="tns:bestSeller"/>
</message>
<message name="bestSellerResponse">
<part name="parameters" element="tns:bestSellerResponse"/>
</message>
<message name="products">
<part name="parameters" element="tns:products"/>
</message>
<message name="productsResponse">
<part name="parameters" element="tns:productsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="filterprice">
<part name="parameters" element="tns:filterprice"/>
</message>
<message name="filterpriceResponse">
<part name="parameters" element="tns:filterpriceResponse"/>
</message>
<message name="newProducts">
<part name="parameters" element="tns:newProducts"/>
</message>
<message name="newProductsResponse">
<part name="parameters" element="tns:newProductsResponse"/>
</message>
<message name="limitBestSeller">
<part name="parameters" element="tns:limitBestSeller"/>
</message>
<message name="limitBestSellerResponse">
<part name="parameters" element="tns:limitBestSellerResponse"/>
</message>
<message name="featureProducts">
<part name="parameters" element="tns:featureProducts"/>
</message>
<message name="featureProductsResponse">
<part name="parameters" element="tns:featureProductsResponse"/>
</message>
<message name="hotSaleProduct">
<part name="parameters" element="tns:hotSaleProduct"/>
</message>
<message name="hotSaleProductResponse">
<part name="parameters" element="tns:hotSaleProductResponse"/>
</message>
<message name="randomProducts">
<part name="parameters" element="tns:randomProducts"/>
</message>
<message name="randomProductsResponse">
<part name="parameters" element="tns:randomProductsResponse"/>
</message>
<message name="offerProduct">
<part name="parameters" element="tns:offerProduct"/>
</message>
<message name="offerProductResponse">
<part name="parameters" element="tns:offerProductResponse"/>
</message>
<portType name="ProductService">
<operation name="search">
<input wsam:Action="http://product/ProductService/searchRequest" message="tns:search"/>
<output wsam:Action="http://product/ProductService/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="productDetail">
<input wsam:Action="http://product/ProductService/productDetailRequest" message="tns:productDetail"/>
<output wsam:Action="http://product/ProductService/productDetailResponse" message="tns:productDetailResponse"/>
</operation>
<operation name="filterbrand">
<input wsam:Action="http://product/ProductService/filterbrandRequest" message="tns:filterbrand"/>
<output wsam:Action="http://product/ProductService/filterbrandResponse" message="tns:filterbrandResponse"/>
</operation>
<operation name="bestSeller">
<input wsam:Action="http://product/ProductService/bestSellerRequest" message="tns:bestSeller"/>
<output wsam:Action="http://product/ProductService/bestSellerResponse" message="tns:bestSellerResponse"/>
</operation>
<operation name="products">
<input wsam:Action="http://product/ProductService/productsRequest" message="tns:products"/>
<output wsam:Action="http://product/ProductService/productsResponse" message="tns:productsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://product/ProductService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://product/ProductService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="filterprice">
<input wsam:Action="http://product/ProductService/filterpriceRequest" message="tns:filterprice"/>
<output wsam:Action="http://product/ProductService/filterpriceResponse" message="tns:filterpriceResponse"/>
</operation>
<operation name="newProducts">
<input wsam:Action="http://product/ProductService/newProductsRequest" message="tns:newProducts"/>
<output wsam:Action="http://product/ProductService/newProductsResponse" message="tns:newProductsResponse"/>
</operation>
<operation name="limitBestSeller">
<input wsam:Action="http://product/ProductService/limitBestSellerRequest" message="tns:limitBestSeller"/>
<output wsam:Action="http://product/ProductService/limitBestSellerResponse" message="tns:limitBestSellerResponse"/>
</operation>
<operation name="featureProducts">
<input wsam:Action="http://product/ProductService/featureProductsRequest" message="tns:featureProducts"/>
<output wsam:Action="http://product/ProductService/featureProductsResponse" message="tns:featureProductsResponse"/>
</operation>
<operation name="hotSaleProduct">
<input wsam:Action="http://product/ProductService/hotSaleProductRequest" message="tns:hotSaleProduct"/>
<output wsam:Action="http://product/ProductService/hotSaleProductResponse" message="tns:hotSaleProductResponse"/>
</operation>
<operation name="randomProducts">
<input wsam:Action="http://product/ProductService/randomProductsRequest" message="tns:randomProducts"/>
<output wsam:Action="http://product/ProductService/randomProductsResponse" message="tns:randomProductsResponse"/>
</operation>
<operation name="offerProduct">
<input wsam:Action="http://product/ProductService/offerProductRequest" message="tns:offerProduct"/>
<output wsam:Action="http://product/ProductService/offerProductResponse" message="tns:offerProductResponse"/>
</operation>
</portType>
<binding name="ProductServicePortBinding" type="tns:ProductService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="filterbrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bestSeller">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="products">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="filterprice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="limitBestSeller">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="featureProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hotSaleProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="randomProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="offerProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Product">
<port name="ProductServicePort" binding="tns:ProductServicePortBinding">
<soap:address location="http://localhost:8080/ShopOnlineService/Product"/>
</port>
</service>
</definitions>